@import '../../style/variables';
@import '../../style/utilities';

.section {
  @include flex-column;
  @include flex-center-contents;
  padding: 16px 24px 44px;

  @include for-tablet-up {
    padding: 32px 40px 60px
  }

  @include for-desktop-up {
    padding: 80px 0 80px;
  }
}

.details {
  @include flex-column;
  @include max-width;
  width: 100%;
}