@import '../../style/variables';
@import '../../style/typography';
@import '../../style/utilities';

.section {
  @include flex-column;
  background-color: $codGray;
  padding: 112px 24px;
  position: relative;

  &::before {
    background-image: url('../../../public/assets/home/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: calc(100% + 90px);
    left: 0;
    position: absolute;
    top: -90px;
    width: 100%;
  }
}

.content {
  @include flex-column;
  align-items: center;
  text-align: center;
  z-index: 5;
}

.tagline {
  @include Overline;
}

.title {
  @include HeadingOne;
  padding: 16px 0 24px;
}

.tagline,
.description,
.title {
  color: $white;
}

.tagline,
.description {
  opacity: 0.5;
}

.description {
  @include Body;
  padding-bottom: 28px;
}