@import '../../style/variables';
@import '../../style/typography';
@import '../../style/utilities';

.section {
  @include flex-column;
  background-color: $codGray;
  padding: 112px 24px;
  position: relative;

  @include for-tablet-up {
    padding: 126px 0 168px;
  }

  @include for-tablet-up {
    padding: 128px 0 158px;
  }

  &::before {
    background-image: url('../../../public/assets/home/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: calc(100% + 90px);
    left: 0;
    position: absolute;
    top: -90px;
    width: 100%;

    @include for-tablet-up {
      background-image: url('../../../public/assets/home/tablet/image-header.jpg');
    }

    @include for-desktop-up {
      background-image: url('../../../public/assets/home/desktop/image-hero.jpg');
    }
  }
}

.wrapper {
  @include max-width;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

.content {
  @include flex-column;
  align-items: center;
  text-align: center;

  @include for-tablet-up {
    margin: 0 auto;
    width: 376px;
  }

  @include for-desktop-up {
    @include max-width;
    align-items: flex-start;
    flex-basis: 41.66667%;
    margin: 0 auto 0 0;
    text-align: left;
    width: 41.66667%;
  }
}

.tagline {
  @include Overline;
}

.title {
  @include HeadingOne;
  padding: 16px 0 24px;

  @include for-desktop-up {
    padding: 24px 0;
  }
}

.tagline,
.description,
.title {
  color: $white;
}

.tagline,
.description {
  opacity: 0.5;
}

.description {
  @include Body;
  padding-bottom: 28px;

  @include for-desktop-up {
    padding-bottom: 40px;
  }
}