@import '../../../style/typography';
@import '../../../style/utilities';
@import '../../../style/variables';

.nav {
  @include flex-row;
  @include flex-center-contents;
  background: $black;
}

.contents {
  @include max-width;
  @include flex-row;
  align-items: center;
  border-bottom: 1px solid hsla(100, 100%, 100%, 0.1);
  justify-content: space-between;
  padding: 32px 24px;
  width: 100%;

  @include for-tablet-up {
    padding: 32px 40px;
  }

  @include for-desktop-up {
    justify-content: space-between;
    padding: 32px 0;
  }
}

.logo {
  height: 24px;
  position: relative;
  width: 144px;
}

.nav_button {
  background: none;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;

  &.menu {
    background-image: url('../../../../public/assets/shared/tablet/icon-hamburger.svg');
    height: 16px;
    width: 16px;
  }

  &.cart {
    background-image: url('../../../../public/assets/shared/desktop/icon-cart.svg');
    height: 20px;
    width: 24px;
  }
}

.links {
  @include flex-row;
  @include grid-with-columns(repeat(4, max-content));
  gap: 34px;
  list-style-type: none;
}

.link {
  @include SubTitle;
  color: $white;
  text-decoration: none;

  &:hover,
  &.active {
    color: $rawSienna;
  }
}