@import '../../style/variables';
@import '../../style/utilities';

.grid {
  @include grid-with-rows(max-content max-content max-content);
  background: $white;
  gap: 24px;
  padding: 60px 24px;

  @include for-tablet-up {
    gap: 32px;
    padding: 36px 40px;
  }

  @include for-desktop-up {
    gap: 48px;
    grid-template-columns: 1fr;
    grid-template-rows: 560px 320px 320px;
    padding: 80px 0;
  }
}