@import '../../style/variables';
@import '../../style/utilities';

.section {
  @include flex-column;
  @include flex-center-contents;
  background: $seaShell;
  padding: 16px 24px 96px;

  @include for-tablet-up {
    padding: 48px 40px 116px;
  }

  @include for-desktop-up {
    padding: 80px 0 140px;
  }
}

.container {
  @include grid-with-rows(max-content max-content);
  @include max-width;
  gap: 24px;
  width: 100%;
}
