@import '../../style/variables';
@import '../../style/typography';
@import '../../style/utilities';

.banner {
  @include flex-row;
  @include flex-center-contents;
  background-color: $black;
  padding: 32px 0;
}

.title {
  @include HeadingTwo;
  color: $white;
  text-align: center;
}