@import '../../style/utilities';

.container {
  @include grid-with-rows(max-content max-content);
  gap: 32px;
  width: 100%;

  @include for-desktop-up {
    align-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
}
