@import '../../style/variables';
@import '../../style/typography';
@import '../../style/utilities';

.details {
  background: $white;
  border-radius: 8px;
  padding: 24px;

  @include for-desktop-up {
    padding: 48px;
  }
}

.title {
  @include HeadingThree;
  color: $black;
  padding-bottom: 32px;
}

.fieldset {
  @include flex-column;
  border: none;

  & + & {
    margin-top: 32px;
  }
}

.fieldTitle {
  @include SubTitle;
  color: $rawSienna;
  padding-bottom: 16px;
}

.fields {
  @include grid-with-columns(1fr);
  gap: 24px;
  grid-auto-rows: max-content;

  @include for-tablet-up {
    grid-template-columns: 1fr 1fr;
  }
}

.fieldsPayment {
  @extend .fields;
  gap: 16px;
}

.fieldFullwidth {
  grid-column: 1 / -1;
}

.radioGroup {
  @include grid-with-columns(1fr);
  gap: 16px;
  padding-bottom: 16px;
}

.cashOnDelivery {

  @include grid-with-rows(max-content 1fr);
  align-items: center;
  gap: 16px;
  grid-column: 1 / -1;
  width: 100%;

  @include for-tablet-up {
    gap: 32px;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
  }
}

.cashIcon {
  height: 48px;
  width: 48px;
}

.cashDescription {
  @include Body;
  color: $black;
  opacity: 0.5;
}