@use './utilities';

@mixin HeadingOne {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.30px;
  line-height: 40px;
  text-transform: uppercase;

  @include for-desktop-up {
  font-size: 56px;
  letter-spacing: 2px;
  line-height: 58px;
  }
}

@mixin HeadingTwo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 38px;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.42857px;
    line-height: 44px;
    text-transform: uppercase;
  }
}

@mixin HeadingThree {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.14286px;
  line-height: 36px;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 32px;
  }
}

@mixin HeadingFour {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 38px;
  text-transform: uppercase;
}

@mixin HeadingFive {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.71429px;
  line-height: 33px;
  text-transform: uppercase;
}

@mixin HeadingSix {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.28571px;
  line-height: 25px;
  text-transform: uppercase;
}

@mixin Overline {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 19px;
  text-transform: uppercase;
}

@mixin SubTitle {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.928571px;
  line-height: 25px;
  text-transform: uppercase;
}

@mixin Body {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}