@import '../style/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;

  &.noScroll {
    max-height: 100vh;
    overflow: hidden;
  }
}