@import '../../style/variables';
@import '../../style/typography';
@import '../../style/utilities';

.hero {
  @include max-width;
  background: $rawSienna;
  border-radius: 8px;
  margin: 0 auto;
  overflow: hidden;
  padding: 56px 24px;
  width: 100%;

  @include for-desktop-up {
    @include grid-with-columns(repeat(12, 1fr));
    align-items: center;
    gap: 30px;
    padding: 0;
  }
}

.heroImageContainer {
  @include flex-column;
  @include flex-center-contents;
  height: 208px;
  position: relative;
  z-index: 1;

  &::before {
    background-image: url('../../../public/assets/home/desktop/pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 560px;
    position: absolute;
    width: 560px;
    z-index: -1;

    @include for-desktop-up {
      height: 944px;
      transform: translateY(48px);
      width: 944px;
    }
  }

  @include for-desktop-up {
    grid-column: 2 / 7;
    height: 500px;
    transform: translateY(48px);
    width: 100%;
  }
}

.heroContent {
  @include grid-with-rows(repeat(3, max-content));
  color: $white;
  gap: 24px;
  justify-items: center;
  padding-top: 32px;
  position: relative;
  text-align: center;
  z-index: 10;

  @include for-tablet-up {
    padding-top: 64px;
  }

  @include for-desktop-up {
    grid-column: 8 / 12;
    justify-items: start;
    padding-top: 0;
    text-align: left
  }
}

.heroTitle {
  @include HeadingOne;
}

.heroDescription {
  opacity: .75;

  @include for-tablet-up {
    padding-bottom: 16px;
  }
}