@import '../../style/utilities';

.section {
  @include flex-column;
  @include flex-center-contents;
  padding: 60px 24px;

  @include for-tablet-up {
    padding: 112px 40px;
  }
}

.container {
  @include grid-with-rows(repeat(3, 1fr));
  @include max-width;
  gap: 72px;
  width: 100%;

  @include for-tablet-up {
    @include grid-with-columns(repeat(3, 1fr));
    gap: 10px;
    grid-template-rows: 1fr;
  }

  @include for-desktop-up {
    gap: 30px;
  }
}